body
{
    background-image: url(../img/uaslp5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

.formulario
{
    background: rgba(0,0,0,.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 
    inset 0 -3em 3em rgba(0,0,0,0.1), 
          0 0  0 2px rgb(255,255,255),
          0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.formulario2
{
    background: rgba(0,0,0,.5);
    padding: 20px;
    border-radius: 10px;
    
}

.ingresar
{
    background-color: #222A3F;
}

#NavBarIndex
{
    background-color: rgba(32, 63, 238, 0.61);
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('https://media1.tenor.com/images/10f57e97dc8f862aad6ba66bac682565/tenor.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}